django<2
djangorestframework
django-extensions
python-swiftclient
psycopg2
git+https://github.com/smarnach/pyexiftool.git
pymediainfo
numpy
pypng

google-api-python-client
oauth2client

boto
internetarchive
pycaption
progressbar
