{# approve/approve.html #}

{% extends "approve/base.html" %}

{% block point %}
<form action="" method="POST">
    {% csrf_token %}
    <p><b>
        Please review this pre-release video.
        <u><a href="https://github.com/CarlFK/veyepar/wiki/Reviewer#for-reviewers">(Instructions)</a></u><br>
        If you feel the video is ready for the public,<br>
        {{who}}<br>
        or inits, or something so we have a clue who did this,<br>
        and click <input type="submit" value="Approve" /><br>
        which queues it up to be un-hidden and announced to the public.
    </b></p>

</form>

{% endblock %}
