{# approve/base.html #}
{% extends "base.html" %}

{% block login %}{% endblock %}

{% block content %}

<table>
<tbody>
<tr><td>Name</td><td><b>{{episode.name}}</b></td></tr>
<tr><td>Presenter(s)</td><td>{{episode.authors}} </td></tr>
<tr><td>Location</td><td>{{episode.location}} </td></tr>
<tr><td>Date</td><td>{{episode.start|date:"b D d"}}</td></tr>
</tbody>
</table>
{% if episode.public_url %}
    <a href="{{episode.public_url}}">{{episode.public_url}}</a>
{% else %}
    {% if episode.host_url %}
      <a href="{{episode.host_url}}">{{episode.host_url}}</a>
    {% endif %}
{% endif %}

{% block point  %}
{% endblock %}

{% if episode.comment %}
    <br/><div style="border-color: gray; background-color: #F5F5F5;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;" >
    Production Notes: {{episode.comment|linebreaks}}
    </div> <br >
{% endif %}

{% if user.is_authenticated %}
<hr>
<a href="{% url "admin:main_episode_change" episode.id %}">admin</a> <br>
<a href="e/{{episode.id}}/">{{ episode.name }}</a> <br>
{% endif %}


{% endblock %}
