{# approve/approve.html #}

{% extends "approve/base.html" %}

{% block point %}
    <p><b>
        Please <a href="https://github.com/CarlFK/veyepar/wiki/Reviewer">review</a><br>
        Currently the conference database is blocking the final step of releasing your video the public.  Please contact the organizers to remove the hold that is currently in place.

        Then if you feel the video is ready for the public,<br>
        come back to this page and there should be an "Approve" button to click.

    </b></p>

</form>

{% endblock %}
