{# approve/approve.html #}

{% extends "approve/base.html" %}

{% block point %}
    <p><b>
        Currently the conference database is blocking processing this video.<br>
        If you feel this is in error, please contact the event organizers, likely they need your permission to release.

        Once data is syncroized, come back to this page
        to <a href="https://github.com/CarlFK/veyepar/wiki/Reviewer">review</a><br>
        and there should be an "Approve" button.

    </b></p>

</form>

{% endblock %}
