{# approve/train.html #}
{% extends "base.html" %}

{% block login %}{% endblock %}

{% block content %}

<p>Hi!</p>
<p>You have landed here because someone thinks you would like to help make videos of an event.
</p>
<p>
The process we use is not at all the typical process for making videos.
</p>
<p>
To prepare you for helping at the event, it will help if you are familiar with the process by actually doing the process for an event that has already occurred.  People who have not done this often say "Oh, now I understand, I'll do better next time."
</p>
There are three phases to producing videos:
<ol>
<li> Pre-event organization.
<li> Record at the event
<li> Produce the videos after the event.
</ol>
<p>
For a large event, we will find additional people to help with #3.  What comes next is the page they will land on.  It is hard to tailor these instructions to fit everyone's role, so it is a little redundant which makes it seem like you are not on the right page.  
</p>
<p>
There are only 3 pages, and you are done with the first, so without further adieu, <strong>click to the <a href="{% url "approve_episode" episode.id episode.slug episode.edit_key %}">Volunteer page</a>.</strong>
</p>
<p>
You should probably read this too: <a href="http://dvswitch.alioth.debian.org/wiki/event_volunteer/"> DVswitch/ event volunteer</a>.
</p>
<p>
If you want to know everything about everything: <a href="http://dvswitch.alioth.debian.org/wiki/conference/">DVswitch/ conference</a>.  This is more for the Video team lead and maybe conference organizers.
</p>
{% endblock %}
