{{ video_formset.management_form }}
{% for form in video_formset %}
  <table style="margin:5px 0">
  <tbody>
  {% with form.instance as cutlist %}
    {{ form.id }}
    <tr>
      <td><video src ="{{ MEDIA_URL }}/{{ cutlist.base_url }}.ogv" controls width=200 poster="{{ MEDIA_URL }}/{{ cutlist.base_url }}.png"></video></td>
      <td>
         {% if use_raw %}
          {% with cutlist as video %}
            <strong>Start:</strong> {{ video.start|date:"H:i:s"}}<br />
            <strong>End:</strong> {{ video.end|date:"H:i:s" }}<br />
            <strong>Duration:</strong> {{ video.duration }}
          {% endwith %}
         {% else %}
          {{ cutlist.raw_file.filename }}<br />
          {% with cutlist.raw_file as video %}
            <strong>Start:</strong> {{ video.start|date:"H:i:s"}}<br />
            <strong>End:</strong> {{ video.end|date:"H:i:s" }}<br />
            <strong>Duration:</strong> {{ video.duration }}
          {% endwith %}
         {% endif %}
      </td>
      <td>{{ form.apply }}</td>
      <td>{{ form.start.label_tag }}:{{ form.start }} {{form.start.help_text}}<br />
        {{ form.end.label_tag }}:{{ form.end }} {{form.end.help_text}}</td>
    </tr>
  {% endwith %}
  </tbody>
  </table>
{% endfor %}
