{{ video_formset.management_form }}
{% for form in video_formset %}
  <table style="margin:5px 0">
  <tbody>
  {% with form.instance as cutlist %}
    {{ form.id }}
    <tr>
      <td><video src ="{{ MEDIA_URL }}/{{ cutlist.base_url }}.ogv" controls width=200 poster="{{ MEDIA_URL }}/{{ cutlist.base_url }}.png"></video></td>
      <td>
          {% with cutlist.raw_file as video %}
            {{ video.start|date:"D, d M, Y" }}{% if not same_dates %}<br />-{{ video.end|date:"D, d M, Y" }}{% endif %}<br /><br />
            <strong>Start:</strong> {{ video.start|date:"H:i"}}<br />
            <strong>End:</strong> {{ video.end|date:"H:i" }}<br />
            <strong>Duration:</strong> {{ video.duration }}
          {% endwith %}
      </td>
      <td>{{ form.apply }}</td>
    </tr>
  {% endwith %}
  </tbody>
  </table>
{% endfor %}
