{% extends "base.html"%}

{% block login %}{% endblock %}

{% block content %}
<h1>{{ show.name }}</h1>

<div id="episode-info">
  <table>
  <tbody>
    <tr><th>Name</th><td><strong>{{ episode.name }}</strong></td></tr>
    <tr><th>Presenter(s)</th><td>{{ episode.authors }}</td></tr>
    <tr><th>Location</th><td>{% if user.is_staff %}<a href="{% url "rf_set" episode.location.slug %}?start_date={{episode.start|date:"Y-m-d"}}">{% endif %}{{ episode.location }}{% if user.is_staff %}</a>{% endif %}</td></tr>
    <tr><th>Time</th><td>{{ episode.start|date:"D, d M, Y" }} {{ episode.start|date:"H:i"}}-{% if not same_dates %}{{ episode.end|date:"D, d M, Y" }} {% endif %}{{ episode.end|date:"H:i" }}</td></tr>
  </tbody>
  </table>
</div>

{% with episode.image_file_set.all as sheets %}
{% with show.client as client %}
{% if sheets %}
<div id="recording-sheets" style="margin:10px 0">
    <table>
    <tbody>
        <tr><th colspan="{{ sheets.count }}">Click on thumbnail to see recording sheet</th></tr>
        <tr>
            {% for img in sheets %}
            <td>
            {% if episode.show.slug == "fosdem_2014" %}
                <a href="http://192.237.240.167/static/veyepar/{{client.slug}}/{{show.slug}}/img/{{img.filename}}">
                <img src="http://192.237.240.167/static/veyepar/{{client.slug}}/{{show.slug}}/img/{{img.filename}}" width=90 alt="recording sheet" >
                </a>
            {% else %}
                <a href="{{MEDIA_URL}}/{{client.slug}}/{{show.slug}}/img/{{img.filename}}">
                    <img src="{{MEDIA_URL}}/{{client.slug}}/{{show.slug}}/img/{{img.filename}}" width=90 alt="recording sheet" >
                </a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
    </tbody>
    </table>
</div>
{% endif %}

<div id="episode-form" style="padding:20px 0">
{% if episode.state == 0 %}
  <p>This episode has been marked "borked" (i.e., it is messed up beyond
     recovery) and does not need further processing.
  </p>
  <form action="{% if edit_key %}{% url "guest_reopen" episode.id edit_key %}{% else %}{% url "volunteer_reopen" episode.id %}{% endif %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Unbork" />
  </form>
{% else %}{% if episode.state == 1 %}
<form action="." method="post">
  {% csrf_token %}

<p><strong>Select which video files belong to this talk</strong>,
set the Action to "Encode" and hit "Submit" at the bottom of this page.
{% if sheets %}
  The recording sheets above may have useful notes.
{% endif %}
 </p>
     <p>
     Below are the raw files that were created during the block of time and space scheduled for the talk.  Pick out the ones that should be assembeled into the final video.
     </p>
 <p>
  {% include "_video_formset.html" %}
     <p>
     You may want to trim cruft, (unwanted content) like people filing into the room and getting ready.  If a file contains large amounts of cruft, you should remove it.  Introductions are nice, if they are nice.  If they include something you would not want, remove it.  The encoder doesn't care if you cut stuff off or not, but the people who view the video will.  Use your judgment.
    </p>
     <p>
     You can trim from the start and end by entering the time in the Start and End boxes.  The time you enter is the time you see  on the player.  Hit Play, when you are at the point you want the talk to start, hit Pause. look at the time on the player, enter that in the Start box, like 1:23.   Run the slider to the end and Play.  If you talk ends long before the end of the file, hit Pause at the end of the talk, enter the time you see on the player in the End box.  
     </p>
  <br/>
  <br/>
  <p><strong>Choose "Ready to Encode"</strong> when you are done. 
  (you have selected all the video files you need.)<br/>
     Choose "This Episode is Borked" if there are issues with the video files that can't be fixed and this talk should not be published.<br/>
     Leave it as "Save and Keep Editing" if you have done all you can and need someone else to help.<br/>
     Use Comments to describe any problems, like "None of these clips show this talk." or "The audio is very low." 
  </p>
  <table>
  <tbody>
    {{ comment_form.as_table }}
  </tbody>
  </table>
  <br />
  <input type="submit" value="Submit" />
</form>
{% else %}
  <p>This episode has already been reviewed. Thank you for volunteering!</p>
  {% if episode.state == 2 and not episode.locked %}
    <form action="{% if edit_key %}{% url "guest_reopen" episode.id edit_key %}{% else %}{% url "volunteer_reopen" episode.id %}{% endif %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Edit" />
    </form>
  {% endif %}
{% endif %}
{% endif %}
</div>

{% endwith %}
{% endwith %}

{% endblock %}

