{% extends "base.html"%}

{% block head %}
<title>veyepar: {{ episode.name }}</title>
{% endblock %}

{% block content %}
<h1>{{ show.name }}</h1>

<div id="episode-info">
  <table>
  <tbody>
    <tr><th>Name</th><td><strong>{{ episode.name }}</strong></td></tr>
    <tr><th>Presenter(s)</th><td>{{ episode.authors }}</td></tr>
    <tr><th>Location</th><td>{% if user.is_staff %}<a href="{% url admin:main_location_change location.id%}">{% endif %}{{ episode.location }}{% if user.is_staff %}</a>{% endif %}</td></tr>
    <tr><th>Time</th><td>{{ episode.start|date:"D, d M, Y" }} {{ episode.start|date:"H:i"}}-{% if not same_dates %}{{ episode.end|date:"D, d M, Y" }} {% endif %}{{ episode.end|date:"H:i" }}</td></tr>
  </tbody>
  </table>
</div>

{% with episode.image_file_set.all as sheets %}
{% with show.client as client %}
{% if sheets %}
<div id="recording-sheets" style="margin:10px 0">
    <table>
    <tbody>
        <tr><th colspan="{{ sheets.count }}">Click on thumnails to see recording sheets</th></tr>
        <tr>
            {% for img in sheets %}
            <td><a href="http://192.237.240.167/static/veyepar/{{client.slug}}/{{show.slug}}/img/{{img.filename}}">
                <img src="http://192.237.240.167/static/veyepar/{{client.slug}}/{{show.slug}}/img/{{img.filename}}" width=90 >
                </a>
            </td>
            {% endfor %}
        </tr>
    </tbody>
    </table>
</div>
{% endif %}
{% endwith %}
{% endwith %}

<div id="episode-form" style="padding:20px 0">
{% if episode.state == 0 %}
  <p>This episode has been marked "borked" (i.e., it is messed up beyond
     recovery) and does not need further processing.
  </p>
  <form action="{% if edit_key %}{% url guest_reopen episode.id edit_key %}{% else %}{% url volunteer_reopen episode.id %}{% endif %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Unbork" />
  </form>
{% else %}{% if episode.state == 1 %}
<form action="." method="post">
  {% csrf_token %}

  <h2><a name="step-1">Step 1</a></h2>
  <p>Select which video files belong to this talk. 
{% if sheets %}
  You can use the recording sheets above for reference. 
{% endif %}
     Click on the play button for each clip to
     see the video.
  <p>
  {% include "_video_formset.html" %}

  <table style="margin:20px 0">
  <tbody>
      <tr><td><a href="{% if edit_key %}{% url guest_expand_cutlist episode.id 30 edit_key %}{% else %}{% url volunteer_expand_cutlist episode.id 30 %}{% endif %}" style="font-size:1.2em">I Don't See the Right Video Files</a></td></tr>
  </tbody>
  </table>

  <p>If after clicking "I Don't See the Right Video Files" you are still unable
     to find the files that match this talk, or the files are unuseable, skip
     to <a href="#step-2">Step 2</a> and choose "This Episode is Borked".
  </p>

  <h2>Alternate Reviewing Method</h2>
  <p>If your browser doesn't work with the embedded player, you can review the
     files using VLC or another media player that can handle .ogv files and m3u
     playlists.
  </p>
  <table>
  <tbody>
    <tr>
      <td><a href="{% url raw_list episode.id %}{{episode.slug}}-ogv.m3u?ext=ogv">Review all .ogv files on the page</a></td>
    </tr>
  </tbody>
  </table>

  <h2>For Perfectionists</h2>
  <p>If you want to review only the videos that you want to be encoded, click
     'Save', then the 'Review' link (otherise skip to <a href="#step-2">Step 2</a>):
  </p>
  <table>
  <tbody>
    <tr>
      <td><input type="submit" value="Save" /></td>
      <td><a href="{% url raw_list episode.id %}{{episode.slug}}-ogv.m3u?ext=ogv&apply=yes">Review selected .ogv files</a></td>
    </tr>
  </tbody>
  </table>
  <br />
  <h2>Advanced</h2>
  <p>(Make sure you really know what you are doing before clicking this link!)</p>

  <table style="margin:10px 0">
  <tbody>
      <tr><td><a href="{% url episode episode.id episode.slug episode.edit_key %}" style="font-size:1.1em">I need to do something unusual. Give me the advanced interface</a></td></tr>
  </tbody>
  </table>
  <br />
  <hr />
  <br />
  <h2><a name="step-2">Step 2</a></h2>
  <p>Enter any comments if you have them, and choose <strong>"Ready to Encode"</strong> if
     you have selected all the video files you need.<br />Choose "This Episode is
     Borked" if there are issues with the video files that can't be fixed and
     this talk should not be encoded.
  </p>
  <table>
  <tbody>
    {{ comment_form.as_table }}
  </tbody>
  </table>
  <br />
  <input type="submit" value="Submit" /></td>
</form>
{% else %}
  <p>This episode has already been reviewed. Thank you for volunteering!</p>
  {% if episode.state == 2 and not episode.locked %}
    <form action="{% if edit_key %}{% url guest_reopen episode.id edit_key %}{% else %}{% url volunteer_reopen episode.id %}{% endif %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Edit" />
    </form>
  {% endif %}
{% endif %}
{% endif %}
</div>
{% endblock %}
