{% extends "base.html"%}

{% block head %}
<title>veyepar: {{ episode.name }}</title>
<style>
  td ul {list-style-type:none}
</style>
{% endblock %}

{% block content %}
<h1>{{ show.name }}</h1>

<div id="episode-info">
  <table>
  <tbody>
    <tr><th>Name</th><td><strong>{{ episode.name }}</strong></td></tr>
    <tr><th>Presenter(s)</th><td>{{ episode.authors }}</td></tr>
    <tr><th>Location</th><td>{% if user.is_staff %}<a href="{% url admin:main_location_change location.id%}">{% endif %}{{ episode.location }}{% if user.is_staff %}</a>{% endif %}</td></tr>
    <tr><th>Time</th><td>{{ episode.start|date:"D, d M, Y" }} {{ episode.start|date:"H:i"}}-{% if not same_dates %}{{ episode.end|date:"D, d M, Y" }} {% endif %}{{ episode.end|date:"H:i" }}</td></tr>
  </tbody>
  </table>
</div>

<div id="episode-form" style="padding:20px 0">
{% if episode.state == 0 %}
  <p>This episode has been marked "borked" (i.e., it is messed up beyond
     recovery) and does not need further processing.
  </p>
  <form action="{% if edit_key %}{% url guest_reopen episode.id edit_key %}{% else %}{% url volunteer_reopen episode.id %}{% endif %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Unbork" />
  </form>
{% else %}{% if episode.state == 1 %}
<form action="." method="post">
  {% csrf_token %}

  <h2><a name="step-1">Step 1</a></h2>
  <p>Select which video files belong to this talk. Click the 'Advanced' button
     if you need to fine-tune the video files and you know what you are doing.
  <p>
  <button onclick="">I Don't See the Right Video Files</button>
  <p>If after clicking "I Don't See the Right Video Files" you are still unable
     to find the files that match this talk, or the files are unuseable, skip
     to <a href="#step-3">Step 3</a> and choose "This Episode is Borked".
  </p>

  {{ video_formset.management_form }}
  {% for form in video_formset %}
    <table style="margin:5px 0">
    <tbody>
      {% with form.instance as cutlist %}
      <tr>
          <td>{{ cutlist.base_url }}</td>
          <td><video src ="{{ MEDIA_URL }}/{{ cutlist.base_url }}.ogv" controls width=200 poster="{{ MEDIA_URL }}/{{ cutlist.base_url }}.png"></video></td>
          <td>{{ form.apply }}</td>
      </tr>
      {% endwith %}
    </tbody>
    </table>
  {% endfor %}

  <h2><a name="step-2">Step 2</a></h2>
  <p>Review the video files you have selected (you will need VLC or another
     media player that can handle the m3u playlist)
  </p>
  <table>
  <tbody>
    <tr>
      <td><a href="{% url raw_list episode.id %}{{episode.slug}}.m3u">Review Raw Playlist</a></td>
      <td><a href="{% url raw_list episode.id %}{{episode.slug}}-ogv.m3u?ext=ogv">Review Raw OGV Playlist</a></td>
    </tr>
  </tbody>
  </table>

  <h2><a name="step-3">Step 3</a></h2>
  <p>Enter any comments if you have them, and choose a resolution:</p>
  <table>
  <tbody>
    {{ comment_form.as_table }}
  </tbody>
  </table>
  <br />
  <table>
  <tbody>
    <tr>
        <td><a href=""><button>Save and Keep Editing</button></a></td>
        <td><a href=""><button>Ready to Encode</button></a></td>
        <td><a href=""><button>This Episode is Borked</button></a></td>
  </tbody>
  </table>

<!--





{{ clrfformset.management_form }}
<table border=1>
<tbody id="accordian">
{% for cl,chap,clrfform in clrffs %}

  <tr id="{{cl.raw_file.id}}">
    <td>
  {{clrfform.clid}}
  <table border=1>
  <tbody>
    <tr>
    <td>
    {{clrfform.clid}}
      <table border=1>
      <tbody>

<tr><td><video src ="{{MEDIA_URL}}/{{client.slug}}/{{show.slug}}/dv/{{location.slug}}/{{cl.raw_file.basename}}.ogv" controls width=200
    poster ="{{MEDIA_URL}}/{{client.slug}}/{{show.slug}}/dv/{{location.slug}}/{{cl.raw_file.basename}}.png"
    ></video>
    </td></tr>
     </tbody>
     </table>
    <td>
    <table border=1>
    <tbody>
        <tr> <th></th> <th><a href="#{{cl.raw_file.id}}">Raw File</a></th> <th>Cut List</th> </tr>

      <tr><td></td>

    {% if user.is_authenticated %}
        <td>{{ clrfform.trash.label_tag }}{{ clrfform.trash }}</td>
    {% endif %}
        <td>{{ clrfform.apply.label_tag }}{{ clrfform.apply }}
</td>
      </tr>

      <tr> <td>Start</td><td><b>{% if same_dates %}{{cl.raw_file.start|date:"H:i:s"}}{% else %}{{cl.raw_file.start}}{% endif %}</b></td> <td>{{ clrfform.start }}{{chap.0}}</td>
      </tr>
      <tr> <td>Duration:</td> <td>{{cl.raw_file.duration}}</td> </tr>
      <tr> <td>End</td><td> {% if same_dates %}{{cl.raw_file.end|date:"H:i:s"}}{% else %}{{cl.raw_file.end}}{% endif %} </td> <td>{{ clrfform.end }}{{chap.1}}</td> </tr>
      <tr> <td>Comments:</td> <td>{#{clrfform.rf_comment}#}</td> <td>{{clrfform.cl_comment}}</td> </tr>
      <tr> <td>
         {{ clrfform.split.label_tag }}{{ clrfform.split }}
</td>
      <td><a href="{% url admin:main_raw_file_change cl.raw_file.id%}">admin</a></td>
      <td>
<a href="{% url admin:main_cut_list_change cl.id%}">admin</a>
<a href="{% url admin:main_cut_list_change cl.id%}delete/">delete</a>
     </td>
      </tr>

    </tbody>
    </table>
    </td>

  </tbody>
  </table>
  </tr>

  {% if clrfform.errors %}
  <tr> {% for field in clrfform %}
          <td>{{field.name}}{{ field.errors }}</td>
       {% endfor %} </tr>
  {% endif %}

  {% if cl.raw_file.ocrtext %}
  <tr>
  <td>
  <table border=1>
  <tbody>
    <tr>
    <td>{{cl.raw_file.ocrtext|linebreaks}}</td>
    </tr>
  </tbody>
  </table>
  </td>
  </tr>
  {% endif %}

{% endfor %}
</tbody>
</table>


<a href="{% url raw_list episode.id %}{{episode.slug}}.m3u">raw-playlist</a>
<a href="{% url raw_list episode.id %}{{episode.slug}}-ogv.m3u?ext=ogv">raw-ogv-playlist</a>

<table border=1>
<tbody>
    <tr><td>
<a href="{% url admin:main_raw_file_changelist %}?location__id__exact={{episode.location.id}}&start__year={{episode.start|date:"Y"}}&start__month={{episode.start|date:"m"}}&start__day={{episode.start|date:"d"}}">raw files day</a>
    </td></tr>
{{ add_cutlist_to_ep }}
</tbody>
</table>
<table style="border:1px">
  <tbody>
    {{ comment_form.as_table }}
  </tbody>
  </table>
<input type="submit" value="Save">-->
</form>
{% else %}
  <p>This episode has already been reviewed. Thank you for volunteering!</p>
  {% if episode.state == 2 and not episode.locked %}
    <form action="{% if edit_key %}{% url guest_reopen episode.id edit_key %}{% else %}{% url volunteer_reopen episode.id %}{% endif %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Edit" />
    </form>
  {% endif %}
{% endif %}
{% endif %}
</div>
{% endblock %}