{% extends "base.html" %}

{% block content %}
  <br />
  <strong>Please choose 'Use this video' for any videos you would like to include.</strong><br />
  <p>If you still don't see the videos you want, you can try 'More Videos' at
     the bottom of the list to expand your search.
  </p><br />
  <form action="." method="post" style="display:inline">
    {% csrf_token %}
    {% include "_video_formset.html" %}
    <input type="submit" value="Done Adding Videos" />
  </form>
  <form action="{% if edit_key %}{% url "guest_expand_cutlist" episode.id slop edit_key %}{% else %}{% url "volunteer_expand_cutlist" episode.id slop %}{% endif %}" method="get" style="display:inline">
    <input type="submit" value="More Videos" />
  </form>
  <form action="{% if edit_key %}{% url "guest_episode_review" show.slug episode.slug edit_key %}{% else %}{% url "volunteer_episode_review" show.slug episode.slug %}{% endif %}#step-2" method="get" style="display:inline">
    <input type="submit" value="Cancel" />
  </form>
{% endblock %}
