{# approve.html #}
{% extends "base.html" %}

{% block head %}
<title>veyepar: {{episode.name}}</title>
{% endblock %}

{% block content %}

{% if episode.public_url %}
  <a href={{episode.public_url}}>public</a>
{% endif %}


<table>
<tbody>
<tr><td>Name</td><td><b>{{episode.name}}</b></td></tr>
<tr><td>Author(s)</td><td>{{episode.authors}} </td></tr>
<tr><td>Location</td><td>{{episode.location}} </td></tr>
<tr><td>Date</td><td>{{episode.start|date:"b D d"}}</td></tr>
</tbody>
</table>

<p>To approve the release of your video to the public, click Approve.</p>

{% if episode.conf_url %}
  The data is synced from the event's database, so adjustments need to be made to 
  <a href="{{episode.conf_url}}">{{episode.conf_url}}</a><br/>
{% endif %}

{% if episode.host_url %}
  <a href="{{episode.host_url}}">host</a>
{% endif %}

<a href="{% url pdf 'release_agreements' show.id episode.id %}{{episode.slug}}.pdf">release</a>
<br/>

<form action="" method="POST">{% csrf_token %}
<input type="submit" value="{{user.is_authenticated|yesno:"Save,not logged in,"}}" />

<table border=1>
<tbody>
{{ accept_form }}
</tbody>
</table>

</tbody>
</table>
 
{% endblock %}
