<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<meta charset="utf-8" />

<script type="text/javascript" src="{{STATIC_URL}}admin/js/urlify.js"></script>

<script type="text/javascript" src="http://researchcompendia.org/static/js/jquery.cookie.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/login_form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/fnitize.js"></script>

<link rel="vcs-git" href="https://github.com/CarlFK/veyepar.git" title="Veyepar git repository" />
<link rel="vcs-git" href="git@github.com:CarlFK/veyepar.git" title="Veyepar git repository" />

{% block head %}<title>Veyepar: Video eyeball produce and review.</title>{% endblock %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/base.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login_form.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.min.css">

</head>
<body>
{% block login %} 
{% include "accounts/login_form.html" %} 
{% endblock %}

{% if user.is_authenticated %}
  {% if user.is_staff %}
  <table class="shortcuts">
    <tr>
      <td> <a href="/admin/">admin</a> </td>
      <td> <a href="/databrowse/">databrowse</a> </td>
      <td> <a href="/main/">main</a> </td>
      <td> <a href="/main/clients/">Clients</a> </td>
      <td>
      {% if request.META.HTTP_HOST == "localhost:8080" %}
        <a href="http://veyepar.nextdayvideo.com{{request.get_full_path}}">prod</a>
      {% else %}
        <a href="http://localhost:8080{{request.get_full_path}}">dev</a>
      {% endif %}
      </td>
    </tr>
  </table>
  {% endif %}
{% endif %}

{% block content %}
{% endblock %}

<hr>
<p> <a href="http://github.com/CarlFK/veyepar">Veyepar</a> Video Eyeball Processor and Review</p>
</body>
</html>

