{# client_list.html #}
{% extends "base.html" %}

{% block content %}
    <h2>Clients</h2>
    <table class=tpick>
        {% for client in clients %}
            <tr class="row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}" > <td> {{client.sequence}} </td><td><a href="{% url client client.slug %}">{{ client.name }}</a></td></tr>
        {% endfor %}
    </table>

    <div class=logged-in>
    <h1>Enter Client:</h1>
    <form action="" method="POST"> {% csrf_token %} 
    <table>
    {{ client_form }}
    </table>
    <input type="submit" value="Save" />
    </form>
    </div>

{% endblock %}

