{# client.html #}
{% extends "base.html" %}

{% block head %}
<title>veyepar - Client: {{client.name}} </title>
{% endblock %}

{% block content %}

  <table class="shortcuts">
    <a href="{% url 'admin:main_client_change' client.id%}">client admin</a>
  </table>

    <table class=tpick>
        {% for show in shows%}
            <tr class=row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}><td> {{show.sequence}}</td><td> <a href="{% url 'episode_list' client.slug show.slug%}">{{ show.name }}</a></td></tr>
        {% endfor %}
    </table>

    <div class=logged-in>
     <h2>Enter Show:</h2>
     <form action="" method="POST">{% csrf_token %}
     <table border=1>
       <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
       {{ show_form }}
       <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
     </table>
     </form>
    </div>

{% endblock %}
