{# client_list.html #}
{% extends "base.html" %}

{% block content %}
    <h2>Clients</h2>
    <table class=tpick>
        {% for client in clients %}
            <tr class="row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}" > <td> {{client.sequence}} </td><td><a href="/main/C/{{client.slug}}/">{{ client.name }}</a></td></tr>
        {% endfor %}
    </table>
    <form action="" method="POST"> 
    <table>
    {{ client_form }}
    </table>
    <input type="submit" value="Save" />
    </form>

{% endblock %}

