{# clients.html #}
{% extends "base.html" %}

{% block content %}
    <h2>Clients</h2>
    <table class=tpick>
        {% for client in clients %}
            <tr class="row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}"> 
                <td>{{client.max_date|date:"Y-M-d"}}</td>   
                <td><a href="{% url "admin:main_client_change" client.id%}">{{client.id}}</a> </td>   
                <td><a href="{% url "client" client.slug %}">{{ client.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <div class=logged-in>
    <h1>Enter Client:</h1>
    <form action="" method="POST"> {% csrf_token %} 
    <table>
       <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
       {{ client_form }}
       <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
    </table>
    </form>
    </div>

{% endblock %}

