{# episode.html #}
{% extends "base.html" %}
{% block content %}

<h2>{{episode.location}}</h2>
<h2>Title: {{episode.name}}</h2>
<h2>Author(s): {{episode.authors}}</h2>
<table>
<tbody>
<tr><td>Date</td><td>{{episode_date|date:"b D d"}}</td></tr>
<tr><td>Start</td><td>{% if same_dates %}{{episode.start|date:"H:i"}}{% else %}{{episode.start}}{% endif %}</td></tr>
<tr><td>End</td><td> {% if same_dates %}{{episode.end|date:"H:i"}}{% else %}{{episode.end}}{% endif %} </td></tr>
</tbody>
</table>

<table border=1>
<tbody>
{% for cl,clrfform in clrffs %}
  <tr>
  <td>
  <a href="S/{{show.slug}}/">{{ cl.raw_file.filename }}</a> 
  <table>
  <tbody>
    <tr><td>{{ clrfform.trash.label_tag }}:</td><td>{{ clrfform.trash }}</td></tr>
    <tr><td>{{ clrfform.sequence.label_tag }}:</td><td>{{ clrfform.sequence }}</td></tr>
  </tbody>
  </table>
  </td>

  <td>
  <table border=1>
  <tbody>
    <td><a href="/site_media/{{episode.location.show.client.slug}}/{{episode.location.show.slug}}/dv/{{cl.raw_file.start|date:"Y-m-d"}}/{{episode.location.slug}}/{{cl.raw_file.basename}}.jpg">
<img src="/site_media/{{episode.location.show.client.slug}}/{{episode.location.show.slug}}/dv/{{cl.raw_file.start|date:"Y-m-d"}}/{{episode.location.slug}}/{{cl.raw_file.basename}}.jpg" width=200> </a>
    </td>

    <td>
    <table border=1>
    <tbody>
      <tr> <th></th> <th>Raw File</th> <th>Cut List</th> </tr>
      <tr> <td>Start</td><td>{% if same_dates %}{{cl.raw_file.start|date:"H:i:s"}}{% else %}{{cl.raw_file.start}}{% endif %}</td> <td>{{ clrfform.start }}</td> </tr>
      <tr> <td>Duration:</td> <td>{{cl.raw_file.durationhms}}</td> </tr>
      <tr> <td>End</td><td> {% if same_dates %}{{cl.raw_file.end|date:"H:i:s"}}{% else %}{{cl.raw_file.end}}{% endif %} </td> <td>{{ clrfform.end }}</td> </tr>

      <tr> <td>Comments:</td> <td>{{clrfform.rf_comment}}</td> <td>{{clrfform.cl_comment}}</td> </tr>

    </tbody>
    </table>
    </td>

  </tbody>
  </table>
  </tr>

  <tr>
  <td></td>
  <td>
  <table border=1>
  <tbody>
    <tr>
    <td>{{cl.raw_file.ocrtext}}</td>
    <td> <video src="/site_media/{{episode.location.show.client.slug}}/{{episode.location.show.slug}}/dv/{{cl.raw_file.start|date:"Y-m-d"}}/{{episode.location.slug}}/{{cl.raw_file.basename}}.ogg" controls='' ></video> </td>
    </tr>
  </tbody>
  </table>
  </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
