{# episode.html #}
{% extends "base.html" %}

{% block head %}
<title>veyepar: {{episode.name}} </title>
{% endblock %}

{% block content %}

<a href="/main/C/DjangoCon/S/djc09/">Up</a>
<a href="/main/E/{{ nextepisode.id }}">Next: {{nextepisode.name }}</a>

<h2>Location: {{episode.location}}</h2>
<h2>Title: {{episode.name}}</h2>
<h2>Author(s): {{episode.authors}}</h2>
<a href="/admin/main/episode/{{episode.id}}/">admin</a> 
<a href="/databrowse/main/episode/objects/{{episode.id}}/">databrowse</a> 
</br>

<table>
<tbody>
<tr><td>Date</td><td>{{episode.start|date:"b D d"}}</td></tr>
<tr><td>Start</td><td>{% if same_dates %}{{episode.start|date:"H:i"}}{% else %}{{episode.start}}{% endif %}</td>
<td>First Raw Start</td><td>{% if same_dates %}{{clrffs.0.0.raw_file.start|date:"H:i"}}{% else %}{{clrffs.0.0.faw_file.start}}{% endif %}</td></tr>
<tr><td>Duration</td><td>{{episode.duration}}</td></tr>
<tr><td>End</td><td> {% if same_dates %}{{episode.end|date:"H:i"}}{% else %}{{episode.end}}{% endif %} </td>
<td>Last Raw End</td> {% with clrffs|last as last_clrffs %}{% with last_clrffs.0.raw_file.end as end %} <td>{% if same_dates %} {{end|date:"H:i"}} {% else %} {{end}} {% endif %}</td> {% endwith %} {% endwith %} 
</tr>
</tbody>
</table>

<form action="" method="POST">
{{ episode_form }}  2=read to encode, 3=ready to post
{{ clrfformset.management_form }}

<table border=1>
<tbody>
{% for cl,clrfform in clrffs %}

  <tr> <td> {% for field in clrfform %}{{ field.errors }}{% endfor %} </td></tr>

  <tr>
  <td>
  {{clrfform.clid}}
  <table border=1>
  <tbody>
    <tr>
    <td>
    {{clrfform.clid}}
    <a href="S/{{show.slug}}/F/{{cl.raw_file.filename}}">{{ cl.raw_file.filename }}</a><br>
    <a href="file:///home/carl/Videos/veyepar/{{client.slug}}/{{show.slug}}/dv/{{location.slug}}/{{cl.raw_file.filename}}">{{ cl.raw_file.filename }}</a><br>
    {{ clrfform.sequence.label_tag }}{{ clrfform.sequence }}
    <a href="/site_media/{{client.slug}}/{{show.slug}}/dv/{{location.slug}}/{{cl.raw_file.basename}}.png">
    <img src="/site_media/{{client.slug}}/{{show.slug}}/dv/{{location.slug}}/{{cl.raw_file.basename}}.png" width=200> </a>
    </td>

    <td>
    <table border=1>
    <tbody>
      <tr> <th></th> <th>Raw File</th> <th>Cut List</th> </tr>
      <tr> <td>Start</td><td>{% if same_dates %}{{cl.raw_file.start|date:"H:i:s"}}{% else %}{{cl.raw_file.start}}{% endif %}</td> <td>{{ clrfform.start }}</td> </tr>
      <tr> <td>Duration:</td> <td>{{cl.raw_file.durationhms}}</td> </tr>
      <tr> <td>End</td><td> {% if same_dates %}{{cl.raw_file.end|date:"H:i:s"}}{% else %}{{cl.raw_file.end}}{% endif %} </td> <td>{{ clrfform.end }}</td> </tr>

      <tr><td></td>
        <td>{{ clrfform.trash.label_tag }}{{ clrfform.trash }}</td>
        <td>{{ clrfform.apply.label_tag }}{{ clrfform.apply }}
         {{ clrfform.split.label_tag }}{{ clrfform.split }}</td>
      </tr>
      <tr> <td>Comments:</td> <td>{{clrfform.rf_comment}}</td> <td>{{clrfform.cl_comment}}</td> </tr>

    </tbody>
    </table>
    </td>

  </tbody>
  </table>
  </tr>

  <tr>
  <td>
  <table border=1>
  <tbody>
    <tr>
    <td>{{cl.raw_file.ocrtext}}</td>
    {# <td> <video src="/site_media/{{client.slug}}/{{show.slug}}/dv/{{location.slug}}/{{cl.raw_file.basename}}.ogg" controls='' ></video> </td> #}
    <td> <video src="file:///media/disk/Video/veyepar/{{client.slug}}/{{show.slug}}/dv/{{location.slug}}/{{cl.raw_file.basename}}.ogg" controls ></video> </td> 
    {#  <td> <video src="file:///home/juser/foo.ogg" ></video> </td> #}
  <td> <img src="file:///home/juser/foo.png"> </td> #}

    </tr>
  </tbody>
  </table>
  </td>
  </tr>
{% endfor %}
</tbody>
</table>

<p><input type="submit" value="Save" /></p>
</form>

{% endblock %}
