{# client.html #}
{% extends "base.html" %}
{% block content %}

<h2>Locations:</h2>
    <table class=tpick>
        <tr class=row2><td><a href="E/">All</a></td></tr>
        {% for location in locations %}
            <tr class=row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}>
            <td><a href="L/{{location.slug}}/">{{ location.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class=logged-in>
    <form action="" method="POST">{% csrf_token %}
    <table border=1>
    {{ location_form }}
    </table>
    <input type="submit" value="Save" />
    </form>
    </div>

{% endblock %}
