{#Meeting  meeting_announcement.html #}
{% spaceless %}
{% if show.announcement_state == 2 %}
pre-release: {{client.name}} meeting announcement

Please take a moment to review your details and reply with OK or edits.
Subject and below is what will go out and also will be used to title the videos.

Subject: {% endif %}
ANN: {{client.name}} at {{location.name}} {{episodes.0.start|date:"D F j, fp" }}
{% endspaceless %}

{% autoescape off %}
{{client.name}}
=========================
When: {{episodes.0.start|date:"f A l F j, Y"}}
Where: {{location.name}}
{{show.description}}
{{show.conf_url}}

Topics
------
{% for episode in episodes %}{{forloop.counter}}. {{ episode.name }}
{{episode.authors}}
{% if episode.tags %}tags: {{episode.tags}}{% endif %}
{% if episode.description %}{{episode.description}}{% else %}(Needs description.) {% endif %}
{% if show.announcement_state == 2 %} recording release: {{episode.released|yesno:"yes,no,maybe" }} {% if episode.released %}license: {{episode.license}} {%endif%} {% endif %}
{% if episode.public_url %} Video: {{episode.public_url}} {% endif %}
{% endfor %}

Location
--------
{{location.name}}
{{location.description}}

About the group
---------------
{{client.description}}
{% endautoescape %}


