{# meeting_announcement.html #}
{% extends "base.html" %}
{% block content %}

<pre>
{{client.name}}
=========================
Come join us for our best meeting ever!

When: {{episodes.0.start|date:"f A l F j, Y"}}
Where: {{location.name}}

{{show.description}}

Topics
------
{% for episode in episodes %} {{forloop.counter}}. {{episode.start|date:"g:i"}} {{ episode.name }} ({{episode.authors}})
{% endfor %}
 
Details
-------
{% for episode in episodes %}
{{forloop.counter}}. {{ episode.name }} 
{{episode.authors}}
{{episode.description}}
{{episode.primary}}
{% endfor %}

Location
--------
{{location.description}}

About the group
---------------
{{client.description}}

{% endblock %}
