{# tests.html #}
{% extends "base.html" %}
{% block content %}

  {% for raw_file,eps in rfs %}
<table>

<tr>
<td> <video src ="/site_media/{{raw_file.show.client.slug}}/{{raw_file.show.slug}}/dv/{{raw_file.location.slug}}/{{raw_file.basename}}.ogv" controls width=200
    poster ="/site_media/{{raw_file.show.client.slug}}/{{raw_file.show.slug}}/dv/{{raw_file.location.slug}}/{{raw_file.basename}}.png" 
    ></video>
</td>

<td>
<table>
<tr><td> <a href="/admin/main/raw_file/{{raw_file.id}}/">{{raw_file.filename}} admin</a> </td></tr> 

<tr><td> <a href="/site_media/{{raw_file.show.client.slug}}/{{raw_file.show.slug}}/dv/{{raw_file.location.slug}}/{{raw_file.basename}}.png">{{raw_file.basename}}.png</a></td></tr>
<tr><td> <a href="/site_media/{{raw_file.show.client.slug}}/{{raw_file.show.slug}}/dv/{{raw_file.location.slug}}/{{raw_file.basename}}.ogv">{{raw_file.basename}}.ogv</a></td></tr>

     <tr> <td>Location:</td><td>{{raw_file.location}}</td> </tr>
     <tr> <td>Start:</td><td>{{raw_file.start}}</td> </tr>
      <tr> <td>Duration:</td> <td>{{raw_file.duration}}</td> </tr>
      <tr> <td>End:</td><td> {{raw_file.end}}</td> </tr>
      <tr> <td>Comments:</td> <td>{{raw_file.comment}}</td> </tr>

</table>
 </td>
<td>
<table>
{% for ep in eps %}
  <tr>
     <td><a href="/admin/main/episode/{{ep.id}}/">{{ep.name}} admin</a></td>
     <td><a href="{% url episode ep.id %}">{{ep.name}}</a></td>
  </tr>
  <tr>
     <td>{{ep.location}}</td>
  </tr>
  <tr>
     <td>{{ep.start}}</td><td>{{ep.duration}}</td><td>{{ep.end}}</td>
  </tr>
{% endfor %}
</table>
</tr> 
</table>
 </td>

  {% endfor %}

{% endblock %}
