{# client.html #}
{% extends "base.html" %}

{% block head %}
<title>veyepar - Show: {{client.name}} {{show.name}} - overlapping files </title>
{% endblock %}

{% block content %}
    <table>
        {% for rf in rfs %}
            <tr class=row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}>
                <td><a href="{% url admin:main_raw_file_change rf.id %}">{{rf.id}}</a><td>

<td style="padding-left: {{rf.start_px}}px;">
<div style="background: black;width:{{rf.width_px}}">.</div></td>
            <td>{{rf.start|date:"D b d H:i"}} - {{rf.end|date:"H:i"}}</td>
            <td>{{rf.location}}</td>
            <td><a href="E/{{rf.id}}/">{{ rf.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
