{# raw_file_audio.html #}
{% extends "base.html" %}
{% block content %}

{% if prev_location %}
    <a href="?show_id={{show.id}}&location_slug={{prev_location.slug}}&start_date={{start_date}}">{{prev_location.slug}}</a>
 {% else %}
 (first)
 {% endif %}
{{location}}
{% if next_location %}
    <a href="?show_id={{show.id}}&location_slug={{next_location.slug}}&start_date={{start_date}}">{{next_location.slug}}</a>
 {% else %}
 (last)
 {% endif %}

 <hr/>


{% regroup rf_audios by hour as rfas_by_hour %}
{% for rfas in rfas_by_hour %}

   {% for rfa in rfas.list %}
   {% if forloop.first %}
     {{ rfa.rf.start|date:"D b d H:i" }}
     <br/>
   {% endif%}

   <a href="{% url "raw_file" rfa.rf.id %}">
       <img src ="{{MEDIA_URL}}/{{rfa.rf.show.client.slug}}/{{rfa.rf.show.slug}}/web/raw/{{rfa.rf.location.slug}}/{{rfa.rf.filename}}.wav.png">
   </a>

  {% endfor %}
  <br/>
{% endfor %}

{% endblock %}
