{# raw_file.html #}
{% extends "base.html" %}
{% block content %}

<table>

<tr>
    <td>
        <video id="rawfile{{ raw_file.id }}"
            width=600
      controls
      poster = "{{MEDIA_URL}}{{raw_file.filename}}.png"
      preload="none"
        >
          {% for ext in exts %}
            <source src="{{MEDIA_URL}}{{raw_file.base_url}}.{{ext}}"
                    type="video/{{ext}}">
          {% endfor %}

        </video>
    </td>

    <td> <table>
    <tr><td> <a href="{% url "admin:main_raw_file_change" raw_file.id %}">admin</a> </td></tr>

    <tr><td colspan="2"> <a href="{{MEDIA_URL}}{{raw_file.base_url}}.wav.png">
    {{raw_file.filename}}.wav.png</a></td></tr>

          {% for ext in exts %}
          <tr><td colspan="2"> <a href="{{MEDIA_URL}}{{raw_file.base_url}}.{{ext}}">
                      {{raw_file.filename}}.{{ext}}</a></td></tr>
          {% endfor %}

         <tr> <td>Location:</td><td>{{raw_file.location}}</td> </tr>
         <tr> <td>Start:</td><td>{{raw_file.start}}</td> </tr>
          <tr> <td>Duration:</td> <td>{{raw_file.duration}}</td> </tr>
          <tr> <td>End:</td><td> {{raw_file.end}}</td> </tr>
          <tr> <td>Comments:</td> <td>{{raw_file.comment}}</td> </tr>

    </table> </td>
    <td> <table>

{% for ep in eps %}
      <tr>
          <td><a href="{% url "admin:main_episode_change" ep.id %}">
                  {{ep.id}}</a></td>
         <td><a href="{% url "episode" ep.id %}">{{ep.name}}</a></td>
      </tr>
      <tr>
         <td>{{ep.location}}</td>
      </tr>
      <tr>
         <td>{{ep.start}}</td><td>{{ep.duration}}</td><td>{{ep.end}}</td>
      </tr>
{% endfor %}
        </table> </td>
    </tr>
</table>
  <img id="audio_image_{{raw_file.id}}" alt="audio viz"
    src ="{{MEDIA_URL}}{{raw_file.show.client.slug}}/{{raw_file.show.slug}}/dv/{{raw_file.location.slug}}/{{raw_file.filename}}.wav.png"
    onerror="this.style.display='none'" />

  {% with 1 as x %}
    <script>

    var elementLeft{{x}} = $('#audio_image_{{raw_file.id}}').offset().left;
    var imageX{{x}} = 0;
    var vid{{x}} = $( "#rawfile{{raw_file.id}}" );
    var startbox{{x}} = $( "#{{clrfform.start.auto_id}}" );
    var endbox{{x}} = $( "#{{clrfform.end.auto_id}}" );

    $( "#audio_image_{{raw_file.id}}" ).mousemove(function( event ) {
        imageX{{x}} = (event.pageX - elementLeft{{x}});
       });

    $( "#audio_image_{{raw_file.id}}" ).click(function() {
        // seems I can't change .currentTime before something...
        // as long as the user hits play once, all is well.
        // saving/restoring state is too much hassle.
        // vid{{x}}[0].play();
        vid{{x}}[0].currentTime = imageX{{x}};
        // vid{{x}}[0].pause();
       });

  {% endwith %}
    </script>

{% endblock %}

