{# raw_set.html #}
{% extends "base.html" %}
{% block content %}

location.channelcopy:{{location.channelcopy}}
trash:{{trash}}

  {% for raw_file,cls in rf_cls %}
<table>

<tr>
<td> <video src ="{{MEDIA_URL}}{{raw_file.show.client.slug}}/{{raw_file.show.slug}}/dv/{{raw_file.location.slug}}/{{raw_file.basename}}.ogv" controls width=200
    poster ="{{MEDIA_URL}}{{raw_file.show.client.slug}}/{{raw_file.show.slug}}/dv/{{raw_file.location.slug}}/{{raw_file.basename}}.png"
    preload="none"
    ></video>
</td>

<td>
<table>
<tr>
<td><a href="{% url "admin:main_raw_file_change" raw_file.id %}">{{raw_file.id}}</a></td>
<td><a href="{{MEDIA_URL}}{{raw_file.base_url}}.png">png</a></td>
<td><a href="{{MEDIA_URL}}{{raw_file.base_url}}.ogv">ogv</a></td>
</tr>

     <tr> <td> [{{raw_file.trash|yesno:"X, "}}] Trash </td>
         <td>{{raw_file.filename}}<td></tr>
     <tr> <td>Location:</td><td>{{raw_file.location}}</td> </tr>
     <tr> <td>Start:</td><td>{{raw_file.start}}</td> </tr>
      <tr> <td>Duration:</td> <td>{{raw_file.duration}}</td> </tr>
      <tr> <td>End:</td><td> {{raw_file.end}}</td> </tr>
      {% if raw_file.comment %}
      <tr> <td>Comments:</td> <td>{{raw_file.comment}}</td> </tr>
      {% endif %}

</table>
 </td>
<td>
<table>
{% for cl in cls %}
{% with cl.episode as ep %}

{# <tr> <td> <a href="{% url "admin:main_episode_change" ep.id %}">{{ep.id}}</a> </td> </tr> #}
  <tr> <td>
      <a href="{% url "episode" ep.id %}">{{ep.name}}</a>
  </td> </tr>
  <tr> <td>
          {{ep.authors}}
  </td> </tr>
  <tr> <td>
          Start:{{ep.start|date:"H:i"}} Durration:{{ep.duration}} End: {{ep.end|date:"H:i"}}
  </td> </tr>
  <tr> <td>
          state:{{ep.state}}  [{{cl.apply|yesno:"X, "}}] Apply {{cl.sequence}}
  </td> </tr>
  {% endwith %}

{% endfor %}
</table>
</tr>

</table>
<img src="{{MEDIA_URL}}{{raw_file.show.client.slug}}/{{raw_file.show.slug}}/dv/{{raw_file.location.slug}}/{{raw_file.basename}}.wav.png">

  {% endfor %}

{% endblock %}
