{# schedule.html #}
{% extends "base.html" %}

{% block head %}
  <title>veyepar - Show: {{client.name}} {{show.name}} </title>
{% endblock %}

{% block content %}

  <table width=100%>

    {% for day in days %}

        <thead> <tr>   
        <td></td>
        {% for location in locations %}
          <td>{{ location.name }}</td>
        {% endfor %}
        </tr></thead> 
    
        <tr class=row1><td><b>{{day.0|date:"D d"}}</b></td></tr>
      <tr><td><hr></td></tr>
       {% for t in day.1 %}
         <tr class=row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}>
          <td> {{t.0.start|date:"h:i"}}</td>
          {% for episode in t.1 %}
            <td style="white-space:normal;">
            {% if episode %}
<a style="background-color:{{episode.released|yesno:"#70ff70,#ff0000,#cccccc"}};" href="E/{{episode.id}}/">[_] {{ episode.name }}</a>
              {% if not blank_me %}
                  {# <a href="{{episode.description}}/">{{ episode.conf_url }}</a> {{ episode.duration }} #}
                  {{episode.authors}}
                  D: {{ episode.duration }} 
                  E: {{ episode.end|date:"H:i" }} 
                  {% if episode.emails %} [..] {% endif %}
              {% endif %}
            {% endif %}
            </td>
          {% endfor %}
        </tr>
       {% endfor %}
    {% endfor %}

  </table>

{% endblock %}
