{# client.html #}
{% extends "base.html" %}

{% block head %}
<title>veyepar - Show: {{show.name}} </title>

<script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/fnitize.js"></script>
{{ episode_form.media }}
{% endblock %}

{% block content %}


    <table>
        {% for location in locations %}
         <tr class="row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}" >
         <td> {{location.sequence}} </td>
         <td> <a href="L/{{location.slug}}/">{{ location.name }}</a> </td>
<td><a href="/admin/main/episode/?location__id__exact={{location.id}}">admin</a></td>
<td><a href="{% url meet_ann location.id %}">meeting announcement</a></td>
         </tr>
        {% endfor %}
    </table>

<hr />
    <table>
    <thead><tr>
    <td>id</td><td>seq</td><td>start-end</td><td>duration</td>
    <td>state</td><td>episode.name</td><td>episode.authors</td>
    </tr></thead>

        {% for episode in episodes %}
            <tr class=row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}>
            <td>{{episode.id}}</td>
            <td>{{episode.sequence}}</td>
            <td>{{episode.start|date:"b D d H:i"}} - {{episode.end|date:"H:i"}}</td>
            <td>{{episode.start|timesince:episode.end}}</td>
            <td>{{episode.state}}</td>
            <td><a href="E/{{episode.id}}/">{{ episode.name }}</a></td>
            <td>{{episode.authors}}</td>
            </tr>
        {% endfor %}
    </table>

    {% if episode_form %}
     <div class=logged-in>

     <form action="" method="POST">{% csrf_token %}
     <table border=1>
     {{ episode_form }}
     </table>
     <input type="submit" value="Save" />
     </form>
     </div>
    {% endif %}

{% endblock %}
