{# show_pipeline.html #}
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/show_stats.css">
<title>veyepar - Show: {{client.name}} {{show.name}} </title>
{% endblock %}

{% block content %}

<script>
 function clipMe(cmdId) {
  // Get the text field
  let text = document.getElementById(cmdId).innerHTML;
  // Copy the text inside the text field
  navigator.clipboard.writeText(text);
}
</script>

<a href="{% url "client" client.slug %}">{{ client.name }}</a>
<a href="{% url "episode_list" client.slug show.slug%}">{{ show.name }}</a>
</p>

<table>
    <tr>
        <th>State</th>
        <th>Count</th>
        <th>Description</th>
    </tr>

{% for s in statesl %}

    <tr>
        <td> {{s.sequence}} - {{s.slug}}: </td>
        <td style="background-color:#{{item.alarm_color}};">
  {% if s.count %}

   <a style="background-color:pink" href="{% url "episode_list" client_slug=client.slug show_slug=show.slug state=s.sequence %}">{{s.count}}</a>
  {%else%}
   0
  {% endif %}
        </td>
        <td> {{s.description}} </td>
  {% if user.is_authenticated and s.command %}
      <td>
         <button onclick="clipMe('myText{{ forloop.counter0 }}')">
     <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-copy js-clipboard-copy-icon m-2"> <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path><path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path> </svg>
        </button>
      </td>
      <td> <div id="myText{{ forloop.counter0 }}">{{s.command}}</div> </td>

  {% endif %}

    </tr>
{% endfor %}

</table>

{% endblock %}

