{# show.html #}
{% extends "base.html" %}

{% block head %}
  <title>veyepar - Show: {{client.name}} {{show.name}} </title>
{% endblock %}

{% block content %}

[
{% for s in states %}
   {% if s.1.0 == 1 or s.1.0 == 3 %}<u>{% endif %}
   {{s.1.1}}:<a href="{% url episode_list client_slug=client.slug show_slug=show.slug state=forloop.counter0 %}">{{s.0}}</a>
   {% if s.1.0 == 1 or s.1.0 == 3 %}</u>{% endif %}
{% endfor %}
]
    <table border=1>
        {% for row  in rows  %}
          {% if forloop.first %}
           <tr>
         <th> </th>
            {% for item in row %}
         <th> <a href="{% url episode_list client_slug=client.slug show_slug=show.slug location_slug=item.loc.slug %}">{{ item.loc.name }}</a> </th>
            {% endfor %}
           </tr>
          {% endif %}
          <tr><td> <a href="{% url episode_list client_slug=client.slug show_slug=show.slug start_day=row.0.start|date:"d" %}">{{row.0.start|date:"D d"}}</a></td>
          {% for item in row %}
             <td>  
               {% if item.count %}

                 {{item.start|date:"H:i"}} - {{item.end|date:"H:i"}}</br>
                 <a href="{% url episode_list client_slug=client.slug show_slug=show.slug location_slug=item.loc.slug start_day=item.date|date:"d" %}" style="display:inline-block">{{item.count}}</a>
                 [
                 {% for s in item.states %}
                   {% if forloop.counter0 == 1 or forloop.counter0 == 3 %}<u>{% endif %}
                   {% if s %}
                   <a href="{% url episode_list client_slug=client.slug show_slug=show.slug location_slug=item.loc.slug start_day=item.date|date:"d" state=forloop.counter0 %}" style="display: inline-block; padding-right: 1px; padding-left: 1px;">{{s}}</a>
                   {% else %} 0 {% endif %}
                   {% if forloop.counter0 == 1 or forloop.counter0 == 3 %}</u>{% endif %}
                 {% endfor %}
                 ]</br>
                 talks: {{item.hours}} h ~ {{item.talk_gig}} g </br>
                 {% if item.files %}
                   disk: {{item.files}} files, {{item.gig}} g </br>
                   {% if item.alarm %} alarm: {{item.variance}} {% endif %}
                 {% endif %}
               {% endif %}
             </td>
          {% endfor %}
          </tr>
        {% endfor %}

    </table>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>state</th>
        <th>locked</th>
        <th>locked by</th>
        <th>stop</th>
        <th>episode.name</th>
        <th></th>
      </tr>
    </thead>

    {% for episode in locked %}
      <tr class=row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}>
        <td><a href="/admin/main/episode/{{episode.id}}/">{{episode.id}}</a></td>
        <td>{{episode.state}}</td>
        <td>{{episode.locked}} - {{episode.locked|timesince}}</td>
        <td>{{episode.locked_by}}</td>
        <td>{{episode.stop|yesno:"y,n,"}}</td>

        <td style="white-space:normal"><a href="E/{{episode.id}}/">{{ episode.name }}</a></td>
      </tr>
    {% endfor %}
  </table>


{% endblock %}
