{# show.html #}
{% extends "base.html" %}

{% block head %}
  <title>veyepar - Show: {{client.name}} {{show.name}} </title>
{% endblock %}

{% block content %}
<table class="shortcuts">
 <tr>{% include "show_shortcuts.html" %}</tr>
 <tr>
<td> <a href="{% url admin:main_client_change client.id %}">client admin</a> </td>
<td> <a href="{% url admin:main_show_change show.id %}">show admin</a> </td>
<td> <a href="{% url admin:main_episode_changelist %}?{{admin_params}}">episodes admin</a> </td>
<td> <a href="{% url admin:main_image_file_changelist %}?{{admin_params}}">image_file admin</a> </td>
<td> <a href="{% url  public_play_list %}?{{request.META.QUERY_STRING}}">play_list</a> </td>
<td>  </td>

</tr>
</table>

<hr />
Episode Count: {{episodes.count}}
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>loc name</th>
        <th>start</th><th>end</th>
        <th>duration</th>
        <th title="1:Edit">state</th>
        <th>episode.name</th>
        <th>episode.authors</th>
        <th title="comment size">cmt</th>
        <th title="Released">rel</th>
        <th title="Image Count (recording sheets)">img</th>
        <th title="Raw Files found">rf</th>
        <th title="video is hosted">host</th>
        <th title="host is indexed">index</th>
      </tr>
    </thead>

    {% for episode in episodes %}
      <tr class=row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}>
        <td><a href="/admin/main/episode/{{episode.id}}/">{{episode.id}}</a></td>

        <td><a href="
        {%if location_slug %}
         {% url episode_list client.slug show.slug %}
        {% else %}
         {% url episode_list client_slug=client.slug show_slug=show.slug location_slug=episode.location.slug %}
        {% endif %}
         ">{{episode.location}}</a></td>

 <td> <a href="/databrowse/main/episode/fields/start/{{episode.start|date:"Y-m-d H:i:s"}}"> {{episode.start|date:"D d H:i"}} </a> </td>
 <td>{{episode.end|date:"H:i"}}</td>
        <td>{{episode.duration}}</td>
        <td>{{episode.state}}</td>
        <td style="white-space:normal"><a href="E/{{episode.id}}/">{{ episode.name }}</a></td>
        <td style="white-space:normal">{{episode.authors}}</td>
        <td style="white-space:normal"><a href="E/{{episode.id}}/#id_comment" title="{{episode.comment}}">{{episode.comment|length|default:""}}</a></td>
        <td>{{episode.released|yesno:"Y,N"}}</td>
        <td>{{episode.image_file_set.count|default:""}}</td>
        <td>{{episode.cut_list_set.count|default:""}}</td>
        <td>
            {%if episode.host_url %}<a href="{{episode.host_url}}">Y</a>{% endif %}
        </td><td>
            {%if episode.public_url %}<a href="{{episode.public_url}}">R</a>{% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

  {% if episode_form %}
    <div class=logged-in>
      <h1>Enter Episode:</h1>
      <form action="" method="POST">{% csrf_token %}
        <table border=1>
          <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
          {{ episode_form }}
          <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
        </table>
      </form>
    </div>
  {% endif %}

{% endblock %}

