{# show.html #}
{% extends "base.html" %}

{% block head %}
  <title>veyepar - Show: {{client.name}} {{show.name}} </title>
{% endblock %}

{% block content %}

<table class="shortcuts">
<tr><td><a href="{% url overlaping_episodes show.id %}">overlaping_episodes</a></td></tr>
<tr><td><a href="{% url orphan_dv show.id %}">orphan_dv</a></td></tr>
<tr><td><a href="{% url schedule show.id show.slug %}">schedule</a></td></tr>
<tr><td><a href="{% url pdfs 'recording_sheets' show.id %}{{show.slug}}_recording_sheets.pdf">recording_sheets.pdf</a></td></tr>
<tr><td><a href="{% url pdfs 'release_agreements' show.id %}{{show.slug}}_release.pdf">release.pdf</a></td></tr>
<tr><td><a href="{% url pdfs 'talk_signs' show.id %}{{show.slug}}_room_signs.pdf">room_signs.pdf</a></td></tr>
<tr><td><a href="{% url meet_ann show.id %}">meeting announcement</a></td></tr>
<tr><td><a href="{% url show_stats show.id %}" title="{{show.name}}">show stats</a></td></tr>
<tr><td><a href="{% url eps_xfer client.slug show.slug %}">{{show.slug}}.json</a></td></tr>
<tr><td><a href=
{%if location_slug %}
  "{% url play_list show.id location_slug %}{{show.slug}}.m3u"
{%else%}
  "{% url play_list show.id %}{{show.slug}}.m3u"
{%endif%}
>play_list <span style="color: #000; text-decoration: none;"
>state 3 files - encoded, ready for final review before posting.</span></a></td></tr>
<tr><td><a href="{% url admin:main_show_change show.id %}">show admin</a></td></tr>
<tr><td><a href="{% url admin:main_episode_changelist %}?show__id__exact={{show.id}}">episodes admin</a></td></tr>
<tr><td><a href="{% url admin:main_client_change client.id %}">client admin</a></td></tr>
</table>
<hr />

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>seq</th>
        <th>loc name</th>
        <th>start</th><th>end</th>
        <th>duration</th>
        <th>state</th>
        <th>episode.name</th>
        <th>episode.authors</th>
        <th>released</th>
      </tr>
    </thead>

    {% for episode in episodes %}
      <tr class=row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}>
        <td><a href="/admin/main/episode/{{episode.id}}/">{{episode.id}}</a></td>
        <td>{{episode.sequence}}</td>

        <td><a href="
        {%if location_slug %}
         {% url episode_list client.slug show.slug %}
        {% else %}
         {% url episode_list client_slug=client.slug show_slug=show.slug location_slug=episode.location.slug %}
        {% endif %}
         ">{{episode.location}}</a></td>

 <td> <a href="/databrowse/main/episode/fields/start/{{episode.start|date:"Y-m-d H:i:s"}}"> {{episode.start|date:"D d H:i"}} </a> </td>
 <td>{{episode.end|date:"H:i"}}</td>
        <td>{{episode.duration}}</td>
        <td>{{episode.state}}</td>
        <td style="white-space:normal"><a href="E/{{episode.id}}/">{{ episode.name }}</a></td>
        <td style="white-space:normal">{{episode.authors}}</td>
{#        <td><a href="E/{{episode.id}}/claim_lock">[LOCK]</a></td> #}
        <td>{{episode.released}}</td>
      </tr>
    {% endfor %}
  </table>

total episodes {{total_episodes}}<br> 
total_hours: {{total_hours}}, total_gig: {{total_gig}}<br>
fudge_hours: {{fudge_hours}}, fudge_gig: {{fudge_gig}}



  {% if episode_form %}
    <div class=logged-in>
      <h1>Enter Episode:</h1>
      <form action="" method="POST">{% csrf_token %}
        <table border=1>
          <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
          {{ episode_form }}
          <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
        </table>
      </form>
    </div>
  {% endif %}
{% endblock %}
