{# show.html #}
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/show_stats.css">
<title>veyepar - Show: {{client.name}} {{show.name}} </title>
{% endblock %}

{% block content %}

[
{% for s in states %}
<span class="{% if s.1.0 == 1 or s.1.0 == 3 %}human{% else %}process{% endif %}">{{s.1.1}}:<a href="{% url episode_list client_slug=client.slug show_slug=show.slug state=forloop.counter0 %}">{{s.0}}</a></span>
{% endfor %}
]
    <table class="grid">
           <tr>
<th> <span><b>TOTAL</b></span><br/>
<span> <a href="{% url episode_list client_slug=client.slug show_slug=show.slug %}"> {{show_stat.count}} </a> </span>
<span class="left">expected:</span><span class="right">{{show_stat.talk_gig}} g</span><br/>
                 {% if show_stat.files %}
                   <span class="left">files:{{show_stat.files}}</span><span class="right">{{show_stat.gig}} g</span><br/>
                 {% endif %}
</th>

            {% for item in locations %}
<td> <span><b>{{ item.loc.slug }}</b></span><br/>
<span> <a href="{% url episode_list client_slug=client.slug show_slug=show.slug location_slug=item.loc.slug %}"> {{item.count}} </a> </span>
<span class="left">expected:</span><span class="right">{{item.talk_gig}} g</span><br/>
                 {% if item.files %}
                   <span class="left">files:{{item.files}}</span><span class="right">{{item.gig}} g</span><br/>
                   {% if item.alarm >= 0 %} <span class="left">{{item.alarm}}%</span><span class="right">{{item.variance}} g</span> {% endif %}
                 {% endif %}
 
</td>
            {% endfor %}
         </tr>

        {% for item,row  in rows  %}
          <tr><td><b>{{item.date|date:"D d"}}</b><br/>
<a href="{% url episode_list client_slug=client.slug show_slug=show.slug start_day=item.date|date:"d" %}"> {{item.count}} </a>

<span class="left">expected:</span><span class="right">{{item.talk_gig}} g</span><br/>
                 {% if item.files %}
                   <span class="left">files: {{item.files}}</span><span class="right">{{item.gig}} g</span><br/>
                   <span class="left">{{item.alarm}}%</span><span class="right">{{item.variance}} g</span>
                 {% endif %}
</td>

          {% for item in row %}
             <td style="background-color:#{{item.alarm_color}};">  
               {% if item.count %}

                 <span class="left">{{item.start|date:"H:i"}} - {{item.end|date:"H:i"}}</span> <span class="right;"> {{item.hours}} h </span><br/>
                 <a href="{% url episode_list client_slug=client.slug show_slug=show.slug location_slug=item.loc.slug start_day=item.date|date:"d" %}" style="display:inline-block">{{item.count}}</a>
                 [
                 {% for s in item.states %} 

<span class="{% if forloop.counter0 == 1 or forloop.counter0 == 3 %}human{% else %}process{% endif %}">
                   {% if s %}
                   <a href="{% url episode_list client_slug=client.slug show_slug=show.slug location_slug=item.loc.slug start_day=item.date|date:"d" state=forloop.counter0 %}" style="display: inline-block; padding-right: 1px; padding-left: 1px;">{{s}}</a>
                   {% else %} 0 {% endif %} </span>
                 {% endfor %}
                 ]<br/>
                 <span class="left">expected:</span><span class="right">{{item.talk_gig}} g</span><br/>
                 {% if item.files %}
                   <span class="left">files: {{item.files}}</span><span class="right">{{item.gig}} g</span><br/>
                   {% if item.alarm >= 0 %} <span class="left">{{item.alarm}}%</span><span class="right">{{item.variance}} g</span> {% endif %}
                 {% endif %}
               {% endif %}
             </td>
          {% endfor %}
          </tr>
        {% endfor %}

    </table>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>state</th>
        <th>locked</th>
        <th>locked by</th>
        <th>stop</th>
        <th>episode.name</th>
        <th></th>
      </tr>
    </thead>

    {% for episode in locked %}
      <tr class=row{{ forloop.counter0|divisibleby:2|yesno:"1,2"}}>
        <td><a href="/admin/main/episode/{{episode.id}}/">{{episode.id}}</a></td>
        <td>{{episode.state}}</td>
        <td>{{episode.locked}} - {{episode.locked|timesince}}</td>
        <td>{{episode.locked_by}}</td>
        <td>{{episode.stop|yesno:"y,n,"}}</td>

        <td style="white-space:normal"><a href="E/{{episode.id}}/">{{ episode.name }}</a></td>
      </tr>
    {% endfor %}
  </table>


{% endblock %}
