{{client.name}}<br>
{{show.name}}<br>
{% for episode in episodes %} {{forloop.counter}}. {{ episode.name }} ({{episode.authors}}) {{episode.host_url}} {{episode.get_minutes}} min.<br>
{% endfor %}
<hr>
{% for episode in episodes %}  {{forloop.counter}}. {{episode.host_url}} {{episode.get_minutes}} min.<br>
{% endfor %}

{% if user.is_authenticated %}

<hr>
{% for episode in episodes %}  {{forloop.counter}}. {{episode.host_url}} {{episode.get_minutes}} min. {{episode.approve_url}}<br>
{% endfor %}

<hr>
{% for episode in episodes %}  {{forloop.counter}}. {{episode.get_minutes}} min. {{episode.authors}} {{episode.approve_url}}<br>
{% endfor %}


{% endif %}

<hr>
{% for episode in episodes %} {{forloop.counter}}, {{episode.name}}, {{episode.slug}}.mp4, {{episode.get_minutes}}<br>
{% endfor %}


