{# title_slides.html #}
{% extends "base.html" %}

{% block head %}
  <title>veyepar - Titles for Show: {{client.name}} {{show.name}} </title>
{% endblock %}

{% block content %}

{% for episode in episodes %}
<a href="{{episode.conf_url}}">{{episode.conf_url}}</a>
{{episode.name}}
<br/>
  <a href="E/{{episode.id}}/">{{episode.id}} </a>
  <a href="{{MEDIA_URL}}/{{client.slug}}/{{show.slug}}/titles/{{episode.slug}}.png">{{episode.slug}}.png</a>
  <br/>
      <img src="{{MEDIA_URL}}/{{client.slug}}/{{show.slug}}/titles/{{episode.slug}}.png" width="720" border="5">
  <hr>
{% endfor %}

{% endblock %}
