
body {
    margin-left: 5px;
}

.tpick {
    width: 90%;
}

table {
    border: 1px solid #CCCCCC;
}

td a {
    display: block;
    padding: 4px;
}

td, th {
    border: 0px;
    border-left:1px solid #DDDDDD;
    white-space: nowrap;
}

th {
    font-weight:bold;
}

td {
    vertical-align: middle;
    padding: 0px 6px;
}

a:hover {
    background: #279d27;
    color: white;
}

.shortcuts a {
    padding: 4px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* for editing episodes */
#id_authors,
#id_emails,
#id_tags,
#id_name {
    width: 30em;
}
