dictionary.txt
pw.*
auth.json
goog_auth_pw.py
local_settings.py
vp.db
vp.json
main.sql
temp
*.pyc
*.swp
*.bak
blip_uploader.cfg
veyepar.cfg
veyepar.db
*.png
*.gif
*.pdf
*.jpg
venv/
dj/scripts/schedules/

