svn+http://code.djangoproject.com/svn/django/trunk#egg=django
# svn+http://code.djangoproject.com/svn/django/trunk@15204#egg=django
# django==1.3
vobject
oauth2
django-debug-toolbar
# svn+http://svn.dabodev.com/dabo/trunk/#egg=dabo
hg+https://python-twitter.googlecode.com/hg/#egg=twitter
feedparser

# --extra-index-url=http://dist.pinaxproject.com/dev/
# Pinax==0.9a2.dev6


hg+https://gdata-python-client.googlecode.com/hg/#egg=gdata-python-client
# ElementTree

progressbar
boto
slumber

