
body {
    margin-left: 5px;
}

.tpick {
    width: 90%;
}

table {
    border: 1px solid #CCCCCC;
}

td a {
    display: block;
    padding: 6px;
}

td {
    vertical-align: middle;
    padding: 0px 6px;
}

td, th {
    border: 0px;
}

a:hover {
    background: #279d27;
    color: white;
}

.shortcuts a {
    padding: 6px;
}

