[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User={{ user_name }}
Group=www-data
WorkingDirectory={{ app_dir }}
ExecStart={{ app_dir }}/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          {{ django_project_name }}.asgi:application \
          -k uvicorn.workers.UvicornWorker

[Install]
WantedBy=multi-user.target
