STATIC_ROOT="{{ static_dir }}"

ALLOWED_HOSTS = ['{{ domain_name }}', ]
CSRF_TRUSTED_ORIGINS = ['{{ domain_name }}', ]

DATABASES =  {'default':
        {'ENGINE': 'django.db.backends.postgresql_psycopg2',
         'HOST': "{{ db_host }}",
         'NAME': "{{ db_name }}",
         'USER': "{{ db_user }}",
         'OPTIONS': {},
         'PASSWORD': "{{ db_pw }}",
         'PORT': "{{ db_port }}",
         'TEST_CHARSET': None,
         'TEST_COLLATION': None,
         'TEST_NAME': None,
         } }


# GOOG_CLIENT_SECRET = "/home/{{ user_name }}/.creds/client_secret.json"

# CDN={
#        'user': '{{ user_name }}',
#        'host': '{{ domain_name }}',
#        'private_key_file': "/home/{{ user_name }}/.ssh/id_rsa",
#        }
