{# "accounts/login_form.html" #}

<script type="text/javascript" > 
{% if user.is_authenticated %} var auth_name = '{{user}}';
{% else %} var auth_name = 0; {% endif %}
</script>

<div class="logged-in logged-in-stuff">
 Hi <span id=user_name>user</span>
 <form id='logout'>{% csrf_token %}<input type="submit" value='Logout'></form>
</div>

<div class=logged-out>
  Admin Login:
<form id='login'>
  {% csrf_token %}
    <div id='error_text'></div>
    <div class=login_form>
      <ul>
        <li>
          <label for="id_username">Username:</label>
          <input name="username" id="id_username" type="text">
        </li>
        <li>
          <label for="id_password">Password:</label>
          <input name="password" id="id_password" type="password">
        </li>
        <li><input type="submit" value='Login'></li>
      </ul>
    </div>
</form>
</div>

