# git+https://github.com/django/django.git#egg=django
django==1.4.5
vobject
django-debug-toolbar
git+https://github.com/bear/python-twitter.git
feedparser

steve
python-dateutil

progressbar
boto

requests

django-extensions

# pyrax
# till my bug fix patch hits pypi
git+https://github.com/rackspace/pyrax.git@working#egg=pyrax
pbr
prettytable
babel
iso8601
simplejson

pypng
# numpy

djangorestframework
markdown
django-filter

google-api-python-client 
# oauth2client
httplib2

# psycopg2
