# git+https://github.com/django/django.git#egg=django
django==1.4.5
vobject
oauth2
django-debug-toolbar
# svn+http://svn.dabodev.com/dabo/trunk/#egg=dabo
git+https://github.com/bear/python-twitter.git
feedparser

git+https://github.com/willkg/steve.git
python-dateutil

# hg+https://gdata-python-client.googlecode.com/hg/#egg=gdata-python-client
# ElementTree

progressbar
boto

requests

# django-databrowse
django-extensions

pyrax
pypng
# numpy

