# git+https://github.com/django/django.git#egg=django
django==1.4.5
vobject
oauth2
django-debug-toolbar
git+https://github.com/bear/python-twitter.git
feedparser

steve
python-dateutil

progressbar
boto

requests

# django-databrowse
django-extensions

pyrax
pypng
# numpy

djangorestframework
markdown
django-filter

# ElementTree

google-api-python-client 
httplib2
# apiclient
urllib3

